<!--Navigation top-->
<style>
<!-- abweichend von original styles.css -->
.sb-sidenav-dark .sb-sidenav-menu .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
  color: rgba(255, 255, 255, 0.8);
}
.sb-sidenav-dark {
  background-color: #212529;
  color: rgba(255, 255, 255, 0.8);
}
.navbar-dark {
    --bs-navbar-color: rgba(255, 255, 255, 0.8)
}

</style>
<nav class="bg-juandmi sb-topnav navbar navbar-expand navbar-dark">
   <!-- Navbar Brand-->
   <a class="navbar-brand ps-3" href="index.php">JU & MI</a>
   <!-- Sidebar Toggle: js/scripts.js in der callbackfunktion vom Load aufrufen beim einbetten-->
   <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
   <!-- Navbar Search-->
   <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
      <!--
         <div class="input-group">
             <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
             <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
         </div>
         -->
   </form>
   <!-- Navbar-->
   <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
         <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <!--
               <li><a class="dropdown-item" href="tables.html">Settings</a></li>
               <li><a class="dropdown-item" href="#!">Activity Log</a></li>
               <li><hr class="dropdown-divider" /></li>
               -->
            <li><a class="dropdown-item" href="changepwd.php">Passwortwechsel</a></li>
            <li><a class="dropdown-item" href="logout.php">Logout</a></li>
         </ul>
      </li>
   </ul>
</nav>
<br>