/.php-cs-fixer.cache
/work/config/myoosdumper.conf.php
/work/config/myoosdumper.php
/work/config/sql_statements
/work/log/*.gz
*.bak
/work/config/*.php
/work/backup/*.gz
/work/structure/*.gz
/.project
/.buildpath
/.settings
/work/cache
/work/temp
/work/log/update.log
/nbproject
