<IfModule mod_rewrite.c>
RewriteEngine off
</IfModule>
AuthName "MyOOS-Dumper"
AuthType Basic
AuthUserFile "/var/www/vhosts/h607476.web311.dogado.net/ju-and-mi.de/msd/.htpasswd"
require valid-user
